.shoes-left-sidebar{
    border:1px solid gainsboro;
    height:320px;
}
.shoes-left-sidebar h2{
    text-align: start;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.shoes-hr{
  border:2px solid red;
}
.shoes-left-sidebar p{
    text-align: start;
    font-size: 15px;
    margin-left: 20px;
}
.arrow-icon{
    font-size: 12px;
    font-weight: 400;
}

.card-shoes{
    border:1px solid gainsboro;
    width:200px;
    margin-left: 10px;
    height:320px;
  
}
.card-image{
    height:150px;
    width:100%;
}
.card-title{
    font-size: 12px;
}
.card-shoes p{
    font-size: 12px;
}
.stock{
    background-color: black;
    color:white;
    font-size: 14px;
   width:60px;
  text-align: center;
  height:20px;
  padding-left: -5px;
  border-radius: 0px 0px 30px 0px;
}
.btn-cart{
    background-color: black;
    border:black;
    border-radius: 5px;
    color:white;
}
.slick-prev:before {
    background-color: black;
}
.slick-next:before{
    background-color: black;
   
}